<?xml version="1.0"?>
<config>
    <modules>
        <Croghan_ShipHero>
            <version>1.0.0</version>
        </Croghan_ShipHero>
    </modules>
    <global>
        <blocks>
            <croghan_shiphero>
                <class>Croghan_ShipHero_Block</class>
            </croghan_shiphero>
        </blocks>
        <helpers>
            <croghan_shiphero>
                <class>Croghan_ShipHero_Helper</class>
            </croghan_shiphero>
        </helpers>
        <models>
            <croghan_shiphero>
                <class>Croghan_ShipHero_Model</class>
            </croghan_shiphero>
            <cataloginventory>
                <rewrite>
                    <stock>Croghan_ShipHero_Model_Stock</stock>
                    <stock_item>Croghan_ShipHero_Model_Stock_Item</stock_item>
                    <indexer_stock>Croghan_ShipHero_Model_Indexer_Stock</indexer_stock>
                    <resource_stock_item>Croghan_ShipHero_Model_Resource_Stock_Item</resource_stock_item>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <stock_item>Croghan_ShipHero_Model_Resource_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory_resource>
        </models>
        <resources>
            <croghan_shiphero_setup>
                <setup>
                    <module>Croghan_ShipHero</module>
                </setup>
            </croghan_shiphero_setup>
        </resources>
        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <shiphero_stock_check>
                        <class>Croghan_ShipHero_Model_Observer</class>
                        <method>isSalableAfterStockCheck</method>
                    </shiphero_stock_check>
                </observers>
            </catalog_product_is_salable_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <shiphero_stock_check_cache_clean_checkout>
                        <class>Croghan_ShipHero_Model_Observer</class>
                        <method>cleanCacheAfterCheckout</method>
                    </shiphero_stock_check_cache_clean_checkout>
                </observers>
            </sales_model_service_quote_submit_after>
            <catalog_product_save_after>
                <observers>
                    <shiphero_stock_check_cache_clean_product_save>
                        <class>Croghan_ShipHero_Model_Observer</class>
                        <method>cleanCacheAfterProductSave</method>
                    </shiphero_stock_check_cache_clean_product_save>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <!-- using for now; don't see any way to force credentials. when given more time will switch to api2 -->
        <routers>
            <shiphero>
                <use>standard</use>
                <args>
                    <module>Croghan_ShipHero</module>
                    <frontName>shiphero</frontName>
                </args>
            </shiphero>
        </routers>
    </frontend>

    <!-- ENTRIES BELOW ARE DEPRECATED; USE SYSTEM CONFIG UNDER CATALOG INVENTORY -->
    <default>
        <croghan_shiphero>
            <api_key><!-- add to local.xml; https://app.shiphero.com/dashboard/settings/api --></api_key>
            <api_secret><!-- add to local.xml; https://app.shiphero.com/dashboard/settings/api --></api_secret>
            <warehouses><!-- add to local.xml; Primary,Foo,Bar. Add all warehouses here for admin --></warehouses>
        </croghan_shiphero>
    </default>
    <!--stores>
        <example_store>
            <croghan_shiphero>
                <warehouses>Primary,Foo,Bar</warehouses>
            </croghan_shiphero>
        </example_store>
        <another_example>
            <croghan_shiphero>
                <warehouses>Primary,Foo,Bar</warehouses>
            </croghan_shiphero>
        </another_example>
    </stores-->
</config>
